<div class="contact-container">
    <div class="contact-heading">
        <h3>Contact Us</h3>
    </div>      
    <form method="post" class="form">
        <div class="name-email">
            <div class="name">
                <label for="name">Name</label><br>
                <input type="text" name="name">
            </div>
            <div class="email">
                <label for="email">Email</label><br>
                <input type="email" name="email">
            </div>
        </div>
        <div class="message">
            <label for="message">Your Message</label><br>
            <textarea name="message" cols="46" rows="5"></textarea>
        </div>

        <div class="btn">
            <span>Send</span>
        </div>
    </form>
</div>
