    <%- include('partials/header'); -%>

    <div class="navbar-container">
        <div class="logo">
            <img src="/images/csi.png" alt="logo">
        </div>
        <div class="title">
            <h1>UPES-CSI</h1>
        </div>
    </div>
    <div class="main-container">
        <div class="img">
            <img src="/images/asset 2.png" alt="hero-image">
        </div>
        <div class="main">
            <div class="form">
                <div class="heading">
                    <h3>Login</h3>
                </div>
                <div class="input-container">
                    <div class="label">
                        <label for="email">Email</label><br>
                        <label for="password">Password</label><br>
                    </div>
                    <div class="input">
                        <input type="email" name="email"><br>
                        <input type="password"><br>
                     </div>
                </div>   
                <div class="btn">
                    Login
                </div>
                <div class="register">
                    <p><a href="/registrationPage/index.html">Not yet Registred ?</a></p>
                </div>
            </div>
        </div>
    </div>

    

</body>
</html>
