<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/teams.css" />
		<title>Team</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1>Choose Events</h1>
			</header>
			<main class="join-main">
				<form action="/teams">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Event</label>
						<select name="room" id="room">
							<option value="Hackathons">Hackathons</option>
							<option value="seminar">seminar</option>
							<option value="Guest lecture">Guest lecture</option>
							<option value="some event">some event</option>
							<option value="another event">another event</option>
							<option value="one more event">one more event</option>
						</select>
					</div>
					<button type="submit" class="btn">Join Team</button>
				</form>
			</main>
		</div>
	</body>
</html>
