@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

body {
    background-color: #03254c;
}
.logo-container {
    font-family: "Poppins";
    display: flex;
    justify-items: center;
    color: #03254c;
}


.upes-logo {
    width: 40px;
    margin-right: 20px;
}
